.case-table-columns1 {
  width: 150px;
  text-align: end;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #f8fafc;
  list-style-type: none;
  padding-left: 0px;
  transition-duration: 0.5s;
}
.state-name1 {
  width: 200px;
  text-align: start;
}
.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.ash {
  color: #6c757d;
}
.light-ash {
  color: #94a3b8;
}

.case-table-rows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
}

.case-table-rows:hover {
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.1),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.case-table-rows:hover .case-table-columns1 {
  font-size: 16px;
}
.dark-theme-font {
  color: #000000;
}