.district-case-details-li-div {
  display: flex;
  margin-right: 20px;
  box-sizing: content-box;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 13px;
  color: #94a3b8;
}

.district-case-details-case-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  width: 120px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  transition-duration: 1s;
}
.district-name-li-list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  width: 120px;
  margin-bottom: 0;
  transition-duration: 1s;
}

@media (max-width: 767px) {
  .district-case-details-li-div {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    color: #94a3b8;
    box-sizing: content-box;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 13px;
  }
  .district-case-details-case-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 55px;
    margin-right: 7px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }
  .district-name-li-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    margin-top: 0;
    width: 80px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .district-case-details-li-div {
    display: flex;
    margin-right: 10px;
    color: #94a3b8;
    box-sizing: content-box;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 13px;
  }
  .district-case-details-case-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 100px;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }
  .district-name-li-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-top: 0;
    width: 140px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .district-case-details-li-div {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #94a3b8;
    box-sizing: content-box;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 13px;
  }
  .district-case-details-case-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    width: 100px;
    margin-right: 14px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }
  .district-name-li-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-top: 0;
    width: 140px;
    margin-bottom: 0;
  }
}

.top-district-dark-theme {
  color: #708090;
  transition-duration: 1s;
}
